@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

body {
	font-family: 'IBM Plex Sans Light', monospace;
	font-weight: thin;
}

canvas {
    display: block;
    border: 1px solid #d3d3d3;
}

div#upperContent {
	text-align: center;
	display: block;
	margin: 0, auto;
	padding-top: 50px;
}

div#leaderboard {
	text-align: center;
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
}

div#canv {
	display: inline-block;
	padding-left: 20px;
}

div#lowerContent {
	text-align: center;
	display: block;
	margin: 0, auto;
	padding-top: 50px;
}

div#optionsWrapper {
	vertical-align: top;
	display: inline-block;
}

div.optionBlock {
	vertical-align: top;
	text-align: right;
	display: inline-block;
	padding-right: 20px;
}

div.option {
	padding-bottom: 20px;
}

div#btnWrapper {
	padding-top: 0px;
	padding-right: 70px;
	display: inline-block;
	margin: auto;
}

div#createBlock {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-left: 15px;
	border-left: 1px solid #d3d3d3;
}

div.help-tip {
	display: inline-block;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 19px;
    cursor: help;
}

div.blank-tip-filler {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    padding-left: 1px;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #d3d3d3;
    position: absolute;
    margin: auto;
    margin-left: -100px;
    padding: 20px;
    border-radius: 3px;
    color: #000;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 0px solid black;
	padding: 4px;
}

caption {
	text-decoration: underline;
}

label {
	padding: 5px;
}

input {
	font-family: 'IBM Plex Sans Light', monospace;
	width: 150px;
}

.blockTitle {
	margin-bottom: 20px;
}

p {
	font-size: 12px;
}