@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
	font-family: 'IBM Plex Sans Light', 'IBM Plex Sans', monospace;
	font-weight: thin;
}

canvas {
    display: block;
    border: 1px solid #d3d3d3;
}

div#upperContent {
	text-align: center;
	display: block;
	margin: 0, auto;
	padding-top: 50px;
}

div#leaderboard {
	text-align: center;
	display: inline-block;
	padding-right: 20px;
	width: 250px;
	vertical-align: top;
}

div#canv {
	display: inline-block;
	padding-left: 0px;
	margin-right: 50px; 
}

div#lowerContent {
	text-align: center;
	display: block;
	margin: 0, auto;
	padding-top: 50px;
}

div#optionsWrapper {
	vertical-align: top;
	display: inline-block;
}

div.optionBlock {
	vertical-align: top;
	text-align: right;
	display: inline-block;
	padding-right: 20px;
}

div.option {
	padding-bottom: 20px;
}

div#btnWrapper {
	padding-top: 0px;
	padding-right: 70px;
	display: inline-block;
	margin: auto;
}

div#createBlock {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-left: 15px;
	border-left: 1px solid #d3d3d3;
}

div.help-tip {
	display: inline-block;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 19px;
    cursor: help;
}

div.blank-tip-filler {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    padding-left: 1px;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 0% 0%;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #d3d3d3;
    position: absolute;
    margin: auto;
    
    padding: 10px;
    border-radius: 3px;
    color: #000;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:after { /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
}

table {
	border-collapse: collapse;
}

table, td {
	border: 0px solid black;
	padding: 4px;
}

table#ranking {
	margin-left: auto;
}

table#genomeKey {
	margin-top: 30px;
	color: #5A5A5A;
	font-size: 13px;
}

#genomeKey td {
	padding: 2px;
}

caption {
	text-decoration: underline;
}

label {
	padding: 5px;
}

input {
	font-family: 'IBM Plex Sans Light', 'IBM Plex Sans', monospace;
	width: 150px;
}

.blockTitle {
	margin-bottom: 20px;
	text-decoration: underline;
}

p {
	font-size: 12px;
}

/***********************
 *                     *
 *    NOTIFICATIONS    *
 *                     *
 ***********************/

#notification {
    visibility: hidden;
    background-color: #B8D9B8;
    color: #455C45;
    text-align: center;
    border-radius: 3px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
	transform: translateX(-50%);
}

#notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the notification in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}